<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Proyecto</title>
    <link rel="stylesheet" href="{% static 'aplication/css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'aplication/assets/icono.ico' %}">
    <link rel="stylesheet" href="{% static 'aplication/css/estilos.css' %}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a href="{% url 'inicio' %}">Inicio</a>
            <a href="{% url 'ListarVinilos' %}">Vinilos</a>
            <a href="{% url 'ListarTocadiscos' %}">Tocadiscos</a>
            <a href="{% url 'ListarParlantes' %}">Parlantes</a>
            <a>
                <button type="button" class="btn btn-warning">Ingresar</button>
            </a>
        </div>
    </nav>
</header>
<main class="cuerpo" style="background-color: goldenrod">
    {% block main %}

    {% endblock %}
</main>
<footer style="background-color: #ccc2a4">
    <div>
        <p>Pié de página</p>
    </div>
</footer>
<script> src="{% static 'aplication/js/bootstrap.bundle.min.js' %}"</script>
</body>
</html>