<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Proyecto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'aplication/assets/icono.ico' %}">
    <link rel="stylesheet" href="{% static 'aplication/css/estilos.css' %}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a href="{% url 'inicio' %}">Inicio</a>
            <a href="{% url 'ListarVinilos' %}">Vinilos</a>
            <a href="{% url 'ListarTocadiscos' %}">Tocadiscos</a>
            <a href="{% url 'ListarParlantes' %}">Parlantes</a>
            <a href="{% url 'AboutMe' %}">Acera de...</a>
        </div>
        <img src="{{ request.user.avatar.imagen.url }}" alt="" height="40px">
        {% if request.user.is_authenticated %}
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{ request.user.username }}
                 </button>
                <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'Logout' %}">Logout</a></li>
                         <li><a class="dropdown-item" href="{% url 'EditarPerfil' %}">Editar perfil</a></li>
                </ul>
            </div>
        {% else %}
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Cuenta
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'Login' %}">Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'Register' %}">Registrarse</a></li>
                </ul>
            </div>
        {% endif %}

    </nav>
</header>
<main class="cuerpo" style="background-color: goldenrod">
    {% block main %}

    {% endblock %}
</main>
<footer style="background-color: #ccc2a4">
    <div>
        <p>Pié de página</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>