{% extends 'ventanas/base.html' %}
{% load static %}
{% block main %}
    <h1>Listado de vinilos en venta: </h1>
    {% for v in vinilo %}
        <ul>
            <li>
                <strong>Artista: </strong>{{ v.artista }}
                <p>
                    <a href="{% url 'VinilosDetalle' v.pk %}">Ver</a>
                    <a href="{% url 'EditarVinilo' v.pk %}">Editar</a>
                    <a href="{% url 'BorrarVinilo' v.pk %}">Borrar</a>
                </p>
            </li>
        </ul>
    {% endfor %}
    <br>
    <p>
        <a href="{% url 'CrearVinilo' %}">Crear</a>
    </p>
{% endblock %}